@import "tailwindcss";

@theme {
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-slate-50 text-slate-900 transition-colors duration-300;
  touch-action: manipulation;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}
